### list
- list is a collection of different datatype values(hetrogenous)
- list is enclosed with '[]'
- list is a ordered sequence datatype
- list is index based and slicable
- list allow duplicate values and it is mutable

In [1]:
#creating empty list using []
lst=[]
lst

[]

In [2]:
#creating empty list using list()
lst1=list()
lst1

[]

In [3]:
lst=[1,2,3,'hi','ab',23.5,1,3]
#forward indexing
lst[3]

'hi'

In [4]:
#backward indexing
lst[-3]

23.5

In [5]:
#mutable operator
lst[0]=100
print(lst)

[100, 2, 3, 'hi', 'ab', 23.5, 1, 3]

In [6]:
#string to list conversion
s='neha'
l=list(s)
l

['n', 'e', 'h', 'a']

In [1]:
#reading an input from user
a=list(map(int,input().split()))#int datatype
a=list(map(float,input().split()))#float datatype
a=list(map(str,input().split()))#string datatype

 1 2 3 4
 1.9 2.9 9.0 4.
 hi ni

In [2]:
### List concatenation 
l1=[1,2,3]
l2=[4,5,6]
print(l1+l2)

[1, 2, 3, 4, 5, 6]

In [4]:
### List concatenation 
l1=[1,2,3]#list datatype
l2=45 #int datatype
print(l1+l2)

TypeError: can only concatenate list (not "int") to list

In [5]:
### List concatenation 
l1=[1,2,3]#list datatype
l2=[45] #int datatype
print(l1+l2)

[1, 2, 3, 45]

In [7]:
#list repetation using '*'
l1=[1,2,3]
print(l1*4)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

## list methods
- append(value) : It adds single value at end of the list
- extend(iterable) : It add iterable values at end of the list
- insert(position,value) : Adds value at specified position followed by values are right shifted
- remove(value) : It removes the values at first occurence position
- pop() : Returns and removes the pop value as per specified position otherwisse the last value
- clear() : Removes all elements from the list
- del() : Removes the list
- index(value) : Returns the first position of value otherwise valueError
- count(value) : Returns the total occurance of a value in the list
- sort() - it sorts the original list in particular order
- reverse() - it reverses the original list in reverse order
- sorted() - it sort the list in particular order and it returns new sorted list of values
  ### python methods
- len(list_name) : Total no.of elements from the list
- min(list_name) : Returns the min value from the list
- max(list_name) : Returns the max value from the list
- sum(list_name) : Returns the sum of all elements in the list

In [9]:

#append
l=[1,2,3,4.4,9.0,'hi','a',1,2,3]
l.append(100)
l

[1, 2, 3, 4.4, 9.0, 'hi', 'a', 1, 2, 3, 100]

In [29]:
#extend
l=[1,2,3,4.4,9.0,'hi','a',1,2,3]
l.extend([100,200])
l

[1, 2, 3, 4.4, 9.0, 'hi', 'a', 1, 2, 3, 100, 200]

#insert
l=[1,2,3,4.4,9.0,'hi','a',1,2,3]
l.insert(4,'codegnan')
l

In [19]:
#remove(),pop(),clear(),del()
l=[1,2,3,4.4,9.0,'hi','a',1,2,3]
print("original list:",l)
a=l.remove(3)#passes value , removes element but not return after removing
print("after remove:",l)
b=l.pop() #by default removes last position value
print("afer pop operation: ",l)
l.pop(3)#passes position,returns the removed value from the list
print("afer pop operation with position : ",l)
del l[0]
del l[2:5]
print("afer delete operation: ",l)
l.clear()#completely removes all elements from the list and returns empty list
print("afer clear operation: ",l)
print(a,b)

original list: [1, 2, 3, 4.4, 9.0, 'hi', 'a', 1, 2, 3]
after remove: [1, 2, 4.4, 9.0, 'hi', 'a', 1, 2, 3]
afer pop operation:  [1, 2, 4.4, 9.0, 'hi', 'a', 1, 2]
afer pop operation with position :  [1, 2, 4.4, 'hi', 'a', 1, 2]
afer delete operation:  [2, 4.4, 2]
afer clear operation:  []
None 3

In [28]:
#count(value),len(),min(),max(),sum()
#count(value)-returns the occurance of a specified value
l=[1,2,3,4.4,9.0,'hi','a',1,2,3]
print('count of elements in list:',l.count(1))
#len(list_name)-returns no.of eleements in a list
print('length of the list :',len(l1))
#min(list_name)
l1=[1,2,3,4,5,69,8,56]
print('min value :',min(l1))
#max(list_name)
l1=[1,2,3,4,5,69,8,56]
print('max value :',max(l1))
#sum(list_name)
l1=[1,2,3,4,5,69,8,56]
print('sum of elements in a list:',sum(l1))

count of elements in list: 2
length of the list : 8
min value : 1
max value : 69
sum of elements in a list: 148

In [39]:
#reverse() - it reverses the original list in reverse order 
l=[1,2,3,4,5,69,8,56]
l.reverse()
print('reverse the elements in the list :',l)

reverse the elements in the list : [56, 8, 69, 5, 4, 3, 2, 1]

In [37]:
# sort() - it sorts the original list in particular order
# ascending order sorting()
l1=[1,2,3,4,5,69,8,56]
l1.sort()
print('sort the elements in the list :',l1)

sort the elements in the list : [1, 2, 3, 4, 5, 8, 56, 69]
reverse the elements in the list : None

In [40]:
# descending order sorting()
l1=[1,2,3,4,5,69,8,56]
l1.sort(reverse= True)
print('sort the elements in the list :',l1)

sort the elements in the list : [69, 56, 8, 5, 4, 3, 2, 1]

In [41]:
#sorted() - it creates new list after sorting but in sort(),it changes its position in original list
l=[1,2,3,4,5,69,8,56]
new_list=sorted(l)
new_list

[1, 2, 3, 4, 5, 8, 56, 69]

In [46]:
#index(value)
l=[1,2,3,4,5,69,8,56]
a=l.index(69)#69 value is present in list l  it returns index value of 69
print('69 value index: ',a)
a=l.index(99999) #99999 is not found in list it returns ValueError
print('99999 value index: ',a)

69 value index:  5

ValueError: 99999 is not in list

In [51]:
#Nested list
l=[1,2,23,[1,2,3],4,5]
len(l)
l[2[2]]

6

In [52]:
~10

-11

In [ ]:
l=[1,2,3]
a=l.pop()
print(a)