### Tuple
- Tuple is ordered collection of different data type values or elements
- denoted by '()'
- tuple is **immutable**
- Tuple is index based and supports slicing
- Tuple is Hetrogenous datatype
- Tuple allow duplicate elements

In [4]:
# example
t=(1,2,3,'a','b','codegnan',[4,5,6],7,1,2.5)

In [5]:
# immutable
t[0]

1

In [6]:
t[0]=100

TypeError: 'tuple' object does not support item assignment

In [17]:
#index based and slicable
  #0,1,2,3,  4,    5,        6,     7,8,9
t=(1,2,3,'a','b','codegnan',[4,5,6],7,1,2.5)
#-10,-9,-8,-7,-6,-5        ,-4  ,-3,2,-1 
print(t[4])
print(t[-4])
print(t[2:-3:1]) 
print(t[-2:6:1]) #(8:6:1) start position 8 by incrementing step count we cannot reach end position so it returns empty ()
print(t[-2:6:-1])
print(t[4:100]) # finite loop

b
[4, 5, 6]
(3, 'a', 'b', 'codegnan', [4, 5, 6])
()
(1, 7)
('b', 'codegnan', [4, 5, 6], 7, 1, 2.5)

In [22]:
#empty tuple using ()
t1=()
print(t1)
#empty tuple using tuple()
t2=tuple()
print(t2)
# tuple with multiple values
t3=(1,2,"codegnan")
print(t3)
#tuple with single values
t4=(34)
print(t4)
# check  datatype
print(type(t1),type(t2),type(t3),type(t4))

()
()
(1, 2, 'codegnan')
34
<class 'tuple'> <class 'tuple'> <class 'tuple'> <class 'int'>

In [25]:
# read tuple from user-multiple value
t = tuple(map(int,input().split()))
t

 1 2 3

(1, 2, 3)

In [26]:
# read tuple from user -single value
t = tuple(map(int,input().split()))
t

 10

(10,)

In [27]:
#tuple concatenation using '+'
t1=(1,2,'hi')
t2=(3,4,'bye')
t1+t2

(1, 2, 'hi', 3, 4, 'bye')

In [28]:
#tuple repeating using * operator
t1=(1,2,'hi')
t1*3

(1, 2, 'hi', 1, 2, 'hi', 1, 2, 'hi')

### Tuple methods
- index(value) - returns the position of a value otherwise valueError
- count(value) - returns the occurence of a avalue in the tuple

In [32]:
#index(value)
t=(1,2,3,'a','b','codegnan',[4,5,6],7,1,2.5)
t1= t.index('a')
print("index of 1 element: ",t1)
#count(value())
t2=t.count(1)
print("count of 1 element: ",t2)

index of 1 element:  3
count of 1 element:  2

In [35]:
t3=tuple(map(int,input().split()))
t4=t3.count(2)
print("count of 2 element: ",t4)

 10 2 3 2

count of 2 element:  2

In [37]:
#Build in fuctions
#min(),max(),sum(),len()
t=(1,2,432,5432)
print('min_value:',min(t))
print('max_value:',max(t))
print('sum_value:',sum(t))
print('len_value:',len(t))

min_value: 1
max_value: 5432
sum_value: 5867
len_value: 4

In [39]:
# sorted()
t=(1,23,545,90,56,45)
new_t=sorted(t,reverse=False)
new_t

[545, 90, 56, 45, 23, 1]